<header>
    <a href="/">
        {% comment %} {% include logo, color:"white", width: "60px" %} {% endcomment %}
        <img loading="lazy" src="https://website-376b6968.fee.xnf.temporary.site/assets/logo-white.webp" alt="Javecilla Logo" style="width: 60px;">
    </a>
    {% include nav %}
</header>