<header>
    <a href="/">
        {% comment %} {% include logo, color:"white", width: "60px" %} {% endcomment %}
        <img src="assets/logo-white.webp" alt="Javecilla Logo" style="width: 60px;">
    </a>
    {% include nav %}
</header>