---
layout: default.liquid
title: "Javecilla — About"
description: Jerome Avecilla is a 21-year-old full-stack web developer, based in Philippines.
bodyClass: "about"
---

<div class="about__page">
    <section class="about__introduction" data-scroll>
        <h1>ABOUT ME</h1>
        <h1 class="display-none">ABOUT ME</h1>
        <div class="image__wrapper">
            <img loading="lazy" src="https://website-376b6968.fee.xnf.temporary.site/assets/avatar1.webp" alt="Harold AO portrait">
        </div>
    </section>
    <section class="little__intro anim-scroll overflow-h" data-scroll>
        <h2 class="anim-scroll_element">Hi. I am Jerome Avecilla. I'm a 21-year-old full stack web developer.</h2>
    </section>
    <div class="anim-hr" data-scroll>
        <hr class="anim-hr_element">
    </div>
    <section class="location__time">
        <div class="location">
            <span class="label">Location</span>
            <p>Philippines</p>
        </div>
        <div class="locale__time">
            <span class="label">Time</span>
            {%- comment -%}@see tz database time zones{%- endcomment -%}
            <output data-timezone="Asia/Manila"></output>
        </div>
    </section>
    <section class="presentation anim-text" data-scroll data-scroll-repeat="false">
        <p class="anim-text_element">I am a 3rd Year IT Student with a strong interest in web development and experience working on side-projects with clients for about 3 years now. ...But my skills don't stop there. I actively enhance my skills through project-based learning, taking on diverse challenges across client work, academic projects, and personal initiatives. I treat every deliverable with professional dedication, ensuring that my code is clean, scalable, and user-centric.</p>
    </section>
    <section data-scroll-repeat="true" data-scroll id="sticky" class="about__info section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky" data-scroll-repeat="true">EXPERIENCES</small>
        <p data-scroll class=""> 
            <br>
            <br>
            - Freelance Web Developer 
            <br>
            <i style="text-transform: none; font-size: 17px">Self Employed - Online (January 2022 - Present)</i>
            <br>
            <small style="text-transform: none;">Developed and maintained websites for clients, including front-end UI/UX improvements and backend integration.</small><br>
            <br>
            - IT Assistant 
            <br>
            <i style="text-transform: none; font-size: 17px">Golden Minds Colleges - Sta. Maria, Bulacan (May 2022 - January 2025)</i>
            <br>
            <small style="text-transform: none;">Since 2022 at Golden Minds Colleges, I rapidly transitioned from optimizing front-end UI/UX to leading the design, development, and maintenance of their core digital infrastructure. I collaborated on seamless backend integration and implemented innovative full-stack solutions to streamline operations and enhance performance, directly aligning with institutional goals.</small>
        </p>
    </section>

    <section data-scroll-repeat="true" data-scroll id="sticky-2" class="about__education section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky-2" data-scroll-repeat="true">Education</small>
        <!-- Images/Logos here -->
        {% comment %} <ul class="education__logos">
            <li class="superhi">
                <figure>
                    {% include icon-superhi %}
                    <figcaption>Superhi</figcaption>
                </figure>
            </li>
            <li class="freecodecamp">
                <figure>
                    {% include icon-freecodecamp %}
                    <figcaption>Freecodecamp</figcaption>
                </figure>
            </li>
            <li class="scrimba">
                <figure>
                    {% include icon-scrimba %}
                    <figcaption>Scrimba</figcaption>
                </figure>
            </li>
            <li class="awwwards-academy">
                <figure>
                    {% include icon-awwwards-academy %}
                    <figcaption>Awwwards Academy</figcaption>
                </figure>
            </li>
            <li class="google-digital-garage">
                <figure>
                    {% include icon-google-digital-garage %}
                    <figcaption>Google Digital Garage</figcaption>
                </figure>
            </li>
            <li class="youtube">
                <figure>
                    {% include icon-youtube %}
                    <figcaption>Youtube Videos</figcaption>
                </figure>
            </li>
            <li class="threejs-journey">
                <figure>
                    {% include icon-threejs-journey %}
                    <figcaption>ThreeJS Journey</figcaption>
                </figure>
            </li>
        </ul> {% endcomment %}
        <p data-scroll class="">
            <br>
            <br>
            - Bachelor of Science in Information Technology Specialized in Web and Mobile Application Development
            <br>
            <i style="text-transform: none; font-size: 17px">Self Employed - Online (July 2023 - Present)</i>
            <br>
            <small style="text-transform: none;">Bulacan State University - Malolos Main Campus</small><br>
            <br>
            - Technical Vocational Livelihood in Information and Communication Technology
            <br>
            <i style="text-transform: none; font-size: 17px">August 2021 - June 2023</i>
            <br>
            <small style="text-transform: none;">Golden Minds Colleges - Sta. Maria Campus</small>
        </p>
    </section>
    {% comment %} <section data-scroll-repeat="true" data-scroll id="sticky-3" class="about__languages section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky-3" data-scroll-repeat="true">Programming Languages & Others</small>
        <ul>
            <li>- HTML/CSS</li>
            <li>- Javascript</li>
            <li>- Python</li>
            <li>- Sqlite</li>
            <li>- Scss</li>
            <li>- NodeJS</li>
            <li>- Liquid</li>
            <li>- Parcel</li>
            <li>- Webpack</li>
            <li>- RollupJS</li>
            <li>- NPM</li>
            <li>- Gsap</li>
            <li>- Netlify (CMS)</li>
            <li>- Prismic (CMS)</li>
            <li>- Git(Hub)</li>
            <li>
                - ThreeJS
                <span class="accent">(In progress)</span>
            </li>
        </ul>
    </section> {% endcomment %}
    {% comment %} <section data-scroll-repeat="true" data-scroll id="sticky-4" class="about__tools section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky-4" data-scroll-repeat="true">Tools</small>
        <!-- Software -->
        <ul>
            <li>- Photoshop</li>
            <li>- VS Code</li>
            <li>- Illustrator</li>
            <li>- After Effects</li>
            <li>- Figma</li>
            <li>- Blender</li>
            <li>
                - Cinema 4D
                <span class="accent">(Beginner Level)</span>
            </li>
            <li>- Premiere Pro</li>
            <li>- Notion</li>
        </ul>
    </section> {% endcomment %}

    <section class="about__long-description section-50 uppercase" style="margin-top: -5rem;" data-scroll>
        {% capture about_more %}
            I started to have interest in web development when I was in grade 11 senior high school. I used to watch YouTube tutorials about HTML and CSS back in 2021. Then, I tried to create my first website using only Notepad and Google Chrome. It was a simple one-page website about me. After that, I got more interested in web development and started to learn more about it.

            In early 2022, I discovered freeCodeCamp and started to follow their curriculum. I learned about responsive web design, JavaScript, and front-end libraries like vue. Advancing in Laravel for backend development, I built several small projects, including a task manager and a blog platform. These projects helped me understand how to connect the front end with the back end effectively.

            During my grade 12 at Golden Minds Colleges, My capstone is choosen to be best capstone of the year in my batch. It was a web-based hrm tools and equipment management system for the school. It was a challenging project, but I learned a lot from it. After all the system adopted by the school and used until now.

            Since then, my school see my potential in web development and offered me a job as an IT Assistant. I accepted the offer and started working for the school in May 2022. As an IT Assistant, I am responsible for designing the school's website, assisting senior developers in maintaining the school systems and providing technical support to the staff and students.

            And up until now I am still learning and improving my skills in web development. I am currently learning about full-stack development and exploring new technologies expanding in cloud services and devops. My goal is to become a proficient full-stack web developer and contribute to the web development community.

        {% endcapture %}
        <p class="about__more">
            {{ about_more | newline_to_br }}
        </p>
        <div class="image__wrapper">
            <img src="https://website-376b6968.fee.xnf.temporary.site/assets/me33.webp"
                alt="Computer on a desk">
        </div>
    </section>

    <section class="my-philosophy" data-scroll data-scroll-speed="2">
        <blockquote class="canela">
            I don’t just code all day!
        </blockquote>
        <p style="text-align: center; max-width: 800px; margin: 0 auto">Beyond my coding skills, I’m not just a keyboard warrior. I’m a huge basketball fan, a swimming enthusiast, an avid hiker, and always planning my next travel adventure. But wait... that’s not all! I’m also an online gaming aficionado. On mobile, you’ll catch me in Wild Rift and Teamfight Tactics (League of Legends), and for PC, I’m all about League of Legends, and Crossfire. So, if you’re up for a game or want to collaborate on a web development project (or both), hit me up! Let’s team up, code, and maybe win some matches along the way!</p>
    </section>
</div>
