---
layout: default.liquid
title: "Javecilla — Full-Stack Web Developer specializing in Web & Mobile Applications Development"
bodyClass: "index"
---

<div class="index__page">
    <section data-scroll class="index__hero">
        <div class="hero-text">
            <h1>Web <br>Full Stack Developer</h1>
            <p>A 3rd Year IT Student who specializes in web and mobile application development</p>
        </div>
        <div class="image-side">
            <div class="image__wrapper">
                <img src="https://jerome-avecilla.infinityfreeapp.com/assets/portfoliov2026/me111.webp" alt="Jerome Avecila">
            </div>
        </div>
    </section>

    <section data-scroll class="index__right-text">
        <h2>Kamusta ka, as we say here</h2>
        <p>I am Jerome Avecilla. 21-year-old Filipino full stack web developer based in Bulacan, Philippines (but can do worldwide working). I'm available for projects, collaborations, and experiments.</p>
    </section>


    <section class="index__big-image" data-scroll>
        <img src="https://jerome-avecilla.infinityfreeapp.com/assets/portfoliov2026/me22.webp" alt="Javecilla in a library" style="position: absolute;top: 0;left: 0;width: 100%;object-fit: cover;height: 120%;">
    </section>

    <section data-scroll class="index__left-text">
        <h2>Crafted for Impact</h2>
        <p>I build to make a difference. Whether it's streamlining a business process or connecting communities, my goal is to deploy software that delivers tangible value. I measure success not just by lines of code, but by the real-world impact of the solution.</p>
    </section>

    <section data-scroll class="navigation__section">
        <small>quick links ↗</small>
        {% include nav %}
    </section>
</div>
